[submodule "ext/pcg32"]
	path = ext/pcg32
	url = https://github.com/wjakob/pcg32
[submodule "ext/dset"]
	path = ext/dset
	url = https://github.com/wjakob/dset
[submodule "ext/pss"]
	path = ext/pss
	url = https://github.com/wjakob/pss
